PORT=5000
MONGO_URI=mongodb+srv://tharunikomuravelli:Tharuni@123@smartleads.xagnlqs.mongodb.net/smartleads?retryWrites=true&w=majority&appName=SmartLeads
JWT_SECRET=mysecretkey
CLIENT_URL=http://localhost:5173